<% layout("layouts/boilerplate") %>



<link href="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.js"></script>

<div id="cluster-map"></div>












<h1>All Campgrounds</h1>

<!-- Link to add new campgrounds -->
<a href="/campgrounds/new">Add Campground</a>

<!-- Create a list, and for every campground: -->
<ul>
    <% for (const campground of campgrounds) { %>

    <!-- Create a card -->
    <div class="card mb-3">
        <div class="row">

            <!-- Add campground image -->
            <div class="col-md-4">
                <% if (campground.images.length) { %>
                <img class="img-fluid" alt="" src="<%= campground.images[0].url %>">
                <% } else { %>
                <img class="img-fluid" alt="" src="">
                <% } %>
            </div>

            <!-- Card body -->
            <div class="col-md-8">
                <div class="card-body">

                    <!-- Add campground information -->
                    <h5 class="card-title"><%= campground.title %> </h5>
                    <p class="card-text"><%= campground.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= campground.location%></small>
                    </p>

                    <!-- Link to go to specific campground -->
                    <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%=campground.title%></a>
                </div>
            </div>

        </div>
    </div>

    <% } %>
</ul>

<script>
    const mapToken = "<%= process.env.MAPBOX_TOKEN %>"
    const campgrounds = { features: JSON.parse(`<%- JSON.stringify(campgrounds) %>`) }
    console.log(campgrounds);
</script>

<script src="/javascripts/clusterMap.js"></script>